.modalWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modalContainer {
  width: 650px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-height: 800px;
  overflow: auto;
}
